@using AnimeCalendar.Data
@using AnimeCalendar.Services
@inject RouteService _routeService;

<div class="row" style="--bs-gutter-x: .7rem; --bs-gutter-y: 1rem;">
    @foreach (var anime in Animes)
    {
        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <div class="anime-card">
                <div class="anime-card-image-holder">
                    <img class="anime-card-image cover" src="@anime.Cover" alt="@anime.Name"/>
                </div>
                <div class="anime-card-overlay">
                    <a class="anime-card-body d-flex align-items-center justify-content-center" href="@_routeService.GetAnime(anime.Id)">
                        <p class="text-light nolink" style="text-align: center">@anime.Name</p>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public IEnumerable<Anime> Animes { get; set; } = null!;

}