@using AnimeCalendar.Data
@using AnimeCalendar.Services
@inject RouteService _routeService;

<div class="list-group">
	@foreach (var dow in Enum.GetValues<DayOfWeek>())
	{
		<AnimeCollectionListElement
			Title="@dow.ToString()"
			Animes="Animes.Where(a => a.StartDate.DayOfWeek == dow)"
			Link="@_routeService.GetHome()">
		</AnimeCollectionListElement>
	}
</div>


@code {

	[Parameter]
	public IEnumerable<Anime> Animes { get; set; } = null!;

}