@page "/collections/{CollectionId:long}"
@using AnimeCalendar.Data
@using AnimeCalendar.Services
@inject CollectionService _collectionService;
@inject NavigationManager _navigationManager;

<h1 class="display-4 mb-3">@_collection.Name</h1>
<div class="d-flex mb-3">
    <button class="btn btn-outline-danger" @onclick="Destroy">Destroy collection</button>
</div>
<AnimeGrid Animes="_collection.Elements.Select(e => e.Anime)"></AnimeGrid>


@code {
    private Collection _collection = null!;
    
    [Parameter]
    public long CollectionId { get; set; }

    protected override void OnInitialized()
    {
        _collection = _collectionService.GetCollection(CollectionId);
    }

    private void Destroy()
    {
        _collectionService.Destroy(_collection.Id);
        _navigationManager.NavigateTo("/collections");
    }

}