@page "/collections"
@using AnimeCalendar.Data
@using AnimeCalendar.Services
@inject CollectionService _collectionService;
@inject RouteService _routeService;

<AuthorizeView>
	<Authorized>
		<h1 class="display-4 mb-3">Collections</h1>
		<div class="list-group">
			@if (_collections.Count == 0)
			{
				<div class="list-group-item text-light">
					You don't have any collection yet. You can create one by going to a interesting anime and create a new collection.
				</div>
			}
			@foreach (var collection in _collections)
			{
				<AnimeCollectionListElement 
					Title="@collection.Name"
					Animes="collection.Elements.Select(e => e.Anime)"
				 	Link="@_routeService.GetCollection(collection.Id)"></AnimeCollectionListElement>
			} 
		</div>
	</Authorized>
	<NotAuthorized>
		<Redirect Url="@_routeService.GetHome()" />
	</NotAuthorized>
</AuthorizeView>


@code {
	private List<Collection> _collections = null!;

	protected override void OnInitialized()
	{
		_collections = _collectionService.GetCollections();
	}

}