@page "/collections/{CollectionId:long}/calendar"
@using AnimeCalendar.Data
@using AnimeCalendar.Services
@inject CollectionService _collectionService;
@inject RouteService _routeService;

<AuthorizeView>
	<Authorized>
		<h1 class="display-4">@_collection.Name</h1>
		<Calendar Animes="Animes"></Calendar>
	</Authorized>
	<NotAuthorized>
		<Redirect href="@_routeService.GetCollectionsList()"></Redirect>
	</NotAuthorized>
</AuthorizeView>


@code {
	[Parameter]
	public long CollectionId { get; set; }

	private Collection _collection = null!;
	private IEnumerable<Anime> Animes => _collection.Elements.Select(e => e.Anime);

	protected override void OnInitialized()
	{
		_collection = _collectionService.GetCollection(CollectionId);
	}

}